@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    font-family: 'Crimson Text', serif;
    color: #99AABB;
    text-align: center;
    background: #14181C;
}

#loading {
    display: none; /* Hide the loading message initially */
    text-align: center;
    font-size: 20px;
    color: #99AABB;
}

#loading object {
    max-width: 100px; /* Adjust the max-width as needed */
    max-height: 100px; /* Adjust the max-height as needed */
    width: 100%; /* Ensure the SVG scales correctly */
    height: auto; /* Maintain aspect ratio */
}

