@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body {
    font-family: 'Crimson Text', serif;
    color: #dce0e6;
    text-align: center;
    background: #14181C;
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 70px;
    animation: fadeIn 5s;
    margin-bottom: 0px;
}

#average_diff {
    opacity: 0;
    animation: fadeIn 4s ease 2s forwards;
}

#form {
    opacity: 0;
    animation: fadeIn 4s ease 2s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#loading {
    text-align: center;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 2;
}

#loading-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#result {
    text-align: center;
    margin: inherit;
    display: inherit;
    flex-direction: inherit;
    justify-content: flex-start;
    align-items: inherit;
    font-size: 20px;
    height: 100vh;
}

