<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>letter my boxes</title>
</head>
<body>
    <h1>LETTER MY BOX</h1>
    <h2>Enter Letterboxd username</h2>
    <form action="{{ url_for('action_page') }}" method="get" onsubmit="showLoading()">
        <input type="text" id="username" name="username"><br><br>
        <input type="submit" value="Submit">
    </form>
    <div id="loading">
        <p id="loading-text">Retrieving film information for </p>
        <object type="image/svg+xml" data="{{ url_for('static', filename='loading.svg') }}" width="100" height="100"></object>
    </div>
</body>
</html>