<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>letter my box</title>
</head>
<body>
    <h1 class="hide-on-submit">letter my box</h1>
    <div id="form">
        <h2 class="hide-on-submit">enter Letterboxd username</h2>
        <form class="hide-on-submit" action="{{ url_for('results') }}" method="get" onsubmit="showLoading()">
            <input type="text" id="username" name="username"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div id="loading">
        <div id="loading-container">
            <p id="loading-text">retrieving film information for </p>
        </div>
        <div id="circles">
            <svg id="orangeCircle" width="350" height="350" xmlns="http://www.w3.org/2000/svg">
                <circle cx="175" cy="175" r="20vh" fill="#f78204"></circle>
            </svg>
            <svg id="greenCircle" width="350" height="350" xmlns="http://www.w3.org/2000/svg">
                <circle cx="175" cy="175" r="20vh" fill="#04e254"></circle>
            </svg>
            <svg id="blueCircle" width="350" height="350" xmlns="http://www.w3.org/2000/svg">
                <circle cx="175" cy="175" r="20vh" fill="#43b9ef"></circle>
            </svg>
        </div>
    </div>
</body>
</html>